/* nav {
    background-color: navy;
} */

.nav {
    background-color: lightslategray;
    padding: 2.5rem, 1 rem;
}
.navbar-toggler {
    float: right;
    size: 100%;
}

.navbar-nav {
    display: flex;
    
}
#root > div > div:nth-child(1) > nav > div > ul > li {
    
    padding: 1%;
    float: right;
}
#root > div > div:nth-child(1) > nav > div > ul {
    float: right;
    width: 50%;
}
nav-item {
    float: right;
}

nav ul li {
    padding: 10px;

}