/* nav {
    background-color: navy;
} */

.nav {
    background-color: lightslategray;
    padding: 2.5rem, 1 rem;
}
.navbar-toggler {
    float: right;
    size: 100%;
}

.navbar-nav {
    display: flex;
}

nav ul li {
    padding: 10px;
}