Footer {
    background-image: linear-gradient(to top, #202020 0%, #f77e06 100%);
}

.name {
    text-align: left;
    font-size: 20pt;
}

.title {
    text-align: left;
    font-size: 16pt;
}

.list-unstyled {
    margin-right: 0px;
    text-align: right;
    font-size: 14pt;
    
}

a {
    color: white;
}
.Footerpage {
    color: white;
}

.FooterHeader {
    text-align: center;
    /* color: coral; */
}
